#table {
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 3px 2px #bdbdbd;
    border-color: black;
    margin:10px;
    
  }

  #table thead th {
    text-transform: capitalize;
    font-size: 15px;
    background-color: #3c3c3c;
    color: #ffffff;
    font-weight: normal;
  }
  #table tbody td {
      border-right: 1px solid rgb(104, 104, 104);
  }
  #table tbody tr {
    border-bottom: 1px solid rgb(104, 104, 104);
}
  textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    width: 100%;
    font-size: 13px;
  }

  #table textarea:focus {
    border: none;
    box-shadow: none;
  }
  .add-btn button {
    font-size: 12px;
  }
  .fa-plus {
    cursor: pointer;
    -webkit-text-stroke: 0px;
  }
  .fa-edit {
    cursor: pointer;
    -webkit-text-stroke: 0px;
  }
  .fa-trash{
      cursor: pointer;
      float: right;
      font-size: 20px;
      margin: 20px 10px 10px 10px;
  }
  .header{
    margin: 15px 26px 0px 26px;
    width:100%;
    
  }
  label{
    color:rgb(22, 22, 22);
    font-size: 30px;
    margin: 10px;
  }
  .filter{
    margin:10px 20px 0px 0px;
  }
  
  /* .scroll {
    height: 30px;
  } */